@model BookingApp.Models.Accommodation

@{
    ViewData["Title"] = "Gestion Photos Logement";
}

<div style="padding-top: 0.5em">
    <partial name="_StatusMessage" />
</div>

<div class="card text-center main-card-0_5">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Accommodation" asp-action="Edit" asp-route-id="@Model.Id">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">
                    Photos

                    @if (Model.Pictures.Count == 0)
                    {
                        <span class="badge rounded-pill bg-danger" title="Vous devez ajouter au moins 1 photo !">!</span>
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Room" asp-action="ManageRooms" asp-route-id="@Model.Id">
                    Pièces

                    @if (Model.Rooms.Count == 0)
                    {
                        <span class="badge rounded-pill bg-danger" title="Vous devez ajouter au moins 1 pièce !">!</span>
                    }
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body text-start">

        @if (Model.Pictures.Count < 12)
        {
            <h5>Ajouter des photos :</h5>

            <form asp-action="ManagePictures" asp-route-id="@Model.Id" enctype="multipart/form-data" id="uploadPicturesForm">
                <div class="input-group mb-3">
                    <input id="uploadPictures" type="file" name="files" class="form-control" aria-describedby="uploadPicturesBtn" multiple />
                    <button class="btn btn-outline-secondary" type="submit" id="uploadPicturesBtn">Envoyer</button>
                </div>
            </form>
        }

        @if (Model.Pictures.Count != 0)
        {
            <h5>Photo(s) ajoutée(s) [@Model.Pictures.Count/12] :</h5>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var item in Model.Pictures)
                {
                    <div class="col">
                        <div class="card">

                            <img src="~/upload/@Html.DisplayFor(modelItem => item.FileName)" class="card-img-top"
                                 style="object-fit: cover; width: 100%; height: 11em;">

                            <a href="~/upload/@Html.DisplayFor(modelItem => item.FileName)" target="_blank">
                                <div class="card-img-overlay" style="text-align: right;">
                                    <form asp-action="DeletePicture" asp-route-id="@item.Id" method="get" style="display: inline-block;">
                                        <input type="hidden" name="accommodationId" value="@Model.Id" />

                                        <button type="submit" class="btn btn-light btn-sm rounded-circle">
                                            <i class="bi bi-trash-fill" style="color:red;"></i>
                                        </button>
                                    </form>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>