@model BookingApp.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<div style="padding-top: 0.5em">
    <partial name="_StatusMessage" />
</div>

<div class="card main-card-0_5">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Accommodation.Pictures.Count; i++)
            {
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"
                        @if (i == 0) { @: class="active" aria-current="true"
                        } aria-label="Slide @i"></button>
            }
        </div>

        <div class="carousel-inner">
            @{ var firstImg = true;
                foreach (Picture picture in Model.Accommodation.Pictures)
                {
                        <div class="carousel-item @if (firstImg) {
                        @:active
                        firstImg = false; }">

                            <a href="~/upload/@picture.FileName" target="_blank">
                                <img src="~/upload/@picture.FileName" class="d-block w-100 card-img-top" style="object-fit: cover; width: 100%; height: 450px;" alt="">
                            </a>
                        </div>
                }
            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="card-body">

        <div class="container">
            <div class="row">

                <div class="col-sm-8">
                    <div class="row align-items-center">

                        <div class="col">
                            <h3>@Model.Accommodation.Name</h3>
                        </div>

                        <div class="col-auto">
                            @if (ViewBag.Bookmark != null)
                            {
                                if (!ViewBag.Bookmark)
                                {
                                    <form asp-action="AddBookmark" style="display: inline-block;">
                                        <input type="hidden" asp-for="@Model.Id" />

                                        <button style="background: none; padding: 0px; border: none;" type="submit">
                                            <h3><i class="bi bi-bookmark-plus" style="color:black;"></i></h3>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="DeleteBookmark" style="display: inline-block;">
                                        <input type="hidden" asp-for="@Model.Id" />

                                        <button style="background: none; padding: 0px; border: none;" type="submit">
                                            <h3><i class="bi bi-bookmark-x-fill" style="color:black;"></i></h3>
                                        </button>
                                    </form>
                                }
                            }
                        </div>
                    </div>

                    <hr class="solid">

                    <div class="d-grid gap-1">
                        <div class="p-1">
                            <h5 style="display:inline;"><i class="bi bi-house-door" style="vertical-align: -1px;"></i></h5>
                            <h6 style="display:inline;">@Model.Accommodation.Type</h6>
                        </div>

                        <div class="p-1">
                            <h5 style="display:inline;"><i class="bi bi-geo-alt" style="vertical-align: -2px;"></i></h5>
                            <h6 style="display:inline;">@Model.Accommodation.Address.ShortAddress()</h6>
                        </div>

                        <div class="p-1">
                            <h5 style="display:inline;"><i class="bi bi-person" style="vertical-align: -1px;"></i></h5>
                            <h6 style="display:inline;">@Model.Accommodation.MaxTraveler voyageur(s) maximum</h6>
                        </div>

                        <div class="p-1">
                            <h5 style="display:inline;"><i class="bi bi-file-text" style="vertical-align: -2px;"></i></h5>
                            <p class="card-text" style="display:inline;">@Model.Accommodation.Description</p>
                        </div>
                    </div>

                    <hr class="solid">

                    <h4>Pièce(s) [@Model.Accommodation.Rooms.Count] :</h4>

                    @foreach (var item in Model.Accommodation.Rooms)
                    {
                        <div class="card" style="margin-bottom:1em;">
                            <div class="card-body">
                                @{ string iconSrc = item.RoomType.ToString().ToLower() + ".svg"; }

                                <h5 class="card-title">
                                    <img src="~/svg/@iconSrc" alt="Room icon" height="20px" width="20px" style="vertical-align: -3px;" />
                                    @TypeTranslate.ToFr(Enum.GetName(typeof(RoomTypes), item.RoomType))
                                </h5>

                                <p class="card-text">
                                    <b>Équipements: </b>
                                    @item.AmenitiesStr()
                                </p>
                            </div>
                        </div>
                    }

                    <hr class="solid">

                    <h4>Règlement du logement :</h4>

                    <div class="d-grid gap-1">
                        <div class="p-1">
                            <img src="~/svg/clock.svg" alt="Clock icon" height="20px" width="20px" style="vertical-align: -4px; margin-right:3px;" />
                            <h6 style="display:inline;">
                                Heure d'arrivée : Après @Model.Accommodation.HouseRules.ArrivalHour.ToString("hh\\hmm") - Heure de départ : Avant @Model.Accommodation.HouseRules.DepartureHour.ToString("hh\\hmm")
                            </h6>
                        </div>

                        <div class="p-1">
                            <img src="~/svg/pet.svg" alt="Pet icon" height="20px" width="20px" style="vertical-align: -4px; margin-right:3px;" />
                            <h6 style="display:inline;">Animaux autorisés : @(Model.Accommodation.HouseRules.PetAllowed ? "Oui" : "Non")</h6>
                        </div>

                        <div class="p-1">
                            <img src="~/svg/party.svg" alt="Party icon" height="20px" width="20px" style="vertical-align: -4px; margin-right:3px;" />
                            <h6 style="display:inline;">Fêtes autorisées : @(Model.Accommodation.HouseRules.PartyAllowed ? "Oui" : "Non")</h6>
                        </div>

                        <div class="p-1">
                            <img src="~/svg/smoke.svg" alt="Smoke icon" height="20px" width="20px" style="vertical-align: -4px; margin-right:3px;" />
                            <h6 style="display:inline;">Logement fumeur : @(Model.Accommodation.HouseRules.SmokeAllowed ? "Oui" : "Non")</h6>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-5 bg-body rounded">
                        <div class="card-header">
                            <h5 class="card-title">Réservation</h5>
                        </div>
                        <div class="card-body">

                            <div class="d-grid gap-1">
                                <div class="p-1">
                                    <h6 style="display:inline;"><i class="bi bi-cash"></i></h6>
                                    <h6 style="display:inline;">Prix par nuit : @Model.PricePerNight €</h6>
                                </div>

                                <div class="p-1">
                                    <h6 style="display:inline;"><i class="bi bi-bucket"></i></h6>
                                    <h6 style="display:inline;">Frais de ménage : @Model.CleaningFee €</h6>
                                </div>
                            </div>

                            <hr class="solid">

                            <p class="card-text">Sélectionnez vos dates de réservations :</p>

                            <form asp-controller="Booking" asp-action="Create">
                                <input type="hidden" asp-for="Id" name="OfferId"/>

                                @{ 
                                    var minArrival = (DateTime.Now > Model.StartAvailability ? DateTime.Now : Model.StartAvailability);
                                }

                                <div class="row g-3" style="margin-bottom: 0.5em;">
                                    <div class="col col-md-7">
                                        <label for="inputArrivalDate">Arrivé</label>
                                        <input type="date" class="form-control" id="inputArrivalDate" name="ArrivalDate"
                                               min="@minArrival.ToString("yyyy-MM-dd")" max="@Model.EndAvailability.AddDays(-1).ToString("yyyy-MM-dd")" required>
                                    </div>

                                    <div class="col col-md-5">
                                        <label for="inputArrivalTime">Heure</label>
                                        <input type="time" class="form-control" id="inputArrivalTime" name="ArrivalTime"
                                               min="@Model.Accommodation.HouseRules.ArrivalHour.ToString("hh\\:mm")" max="23:59" required>
                                    </div>
                                </div>

                                <div class="row g-3" style="margin-bottom: 0.5em;">
                                    <div class="col col-md-7">
                                        <label for="inputDepartureDate">Départ</label>
                                        <input type="date" class="form-control" id="inputDepartureDate" name="DepartureDate"
                                               min="@minArrival.AddDays(1).ToString("yyyy-MM-dd")" max="@Model.EndAvailability.ToString("yyyy-MM-dd")" required>
                                    </div>

                                    <div class="col col-md-5">
                                        <label for="inputDepartureTime">Heure</label>
                                        <input type="time" class="form-control" id="inputDepartureTime" name="DepartureTime"
                                               min="00:00" max="@Model.Accommodation.HouseRules.DepartureHour.ToString("hh\\:mm")" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nbPersonSelector">Nombre de voyageur(s)</label>
                                    <select class="form-control form-select" id="nbPersonSelector" name="NbPerson" required>
                                        @for (int i = 1; i <= Model.Accommodation.MaxTraveler; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-success" type="submit">Réserver</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>