@model BookingApp.Models.Booking

@{
    ViewData["Title"] = "Détails Réservation";
}

<div class="card main-card">
    <div class="card-header">
        <h3>Réservation - Détails</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Offer.Accommodation)
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Accommodation" asp-action="Details" asp-route-id="@Model.Offer.Accommodation.Id" class="text-dark">
                    @Html.DisplayFor(model => model.Offer.Accommodation.Name)
                </a>
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Id)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingDateTime)
            </dd>

            <dt class="col-sm-2">
                Date et horaire d'arrivée
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArrivalDate) @Html.DisplayFor(model => model.ArrivalTime)
            </dd>

            <dt class="col-sm-2">
                Date et horaire de départ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartureDate) @Html.DisplayFor(model => model.DepartureTime)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NbPerson)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NbPerson)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice) €
            </dd>
        </dl>

        <a asp-action=@ViewBag.ReturnAction class="btn btn-outline-secondary">Retour au CRUD</a>
    </div>
</div>